body {
    background-color: black;
    color: white;
}


h1 {
    display: inline-block;
    font-size: 15px;
}


#search-button {
    float: right;
    display: inline;
    margin-top: 10px;
}

#watchlist-button {
    display: inline-block;
    margin: 0 0 5px 20px;
}

#main-table-button {
    display: none;
    visibility: hidden;
    margin: 0 0 5px 20px;
}

#hamburger {
    float: right;
    display: inline;
    margin: 10px 5px 0 5px;
}

#unsave-button {
    display: none;
    visibility: hidden;
}

#save-button {
    display: none;
    visibility: none;
}

#searched-token-table {
    display: none;
    visibility: hidden;
}

#close-button {
    display: none;
    visibility: hidden;
    color: brown;
}

#search-input {
    display: none;
    visibility: hidden;
}

#menu {
    display: none;
    visibility: hidden;
}

#ada-price {
    display: inline-block;
}


#token-table {
    border: 0;
}


.table-h {
    border: 1px solid;
    height: 40px;
    width: 100px;
}

.stats {
    border: 1px solid;
    height: 40px;
    width: 100px;
    text-align: center;
}


table {
    border-collapse: collapse;
}

#login-btn {
    float: right;
    display: inline;
    color: #1F9AFE
}

#watchlist {
    display: none;
    visibility: hidden;
}