body {
    background-color: black;
    color: white;
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80px;
    padding: .4rem .8rem;
    transition: all 0.5s ease;
    border-style: ridge;
    border-width: 5px;
    border-color: grey;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;

}

.open-side {
    width: 250px;
}

.sidebar #sidebar-button {
    position: absolute;
    color: aliceblue;
    top: .4rem;
    left: 50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translate(-50%);
    cursor: pointer;
}

.sidebar.open-side #sidebar-button {
    left: 90%;
}

.sidebar .top .logo {
    color: #D2691E;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    position: relative;
}

.sidebar.open-side .top .logo {
    opacity: 1;
}

.top {
    margin-bottom: 100px;
}

.top .logo {
    position: relative;
    top: 20px;
}

.top .logo i {
    font-size: 3rem;
    margin-left: 20px;
    margin-right: 40px;
    position: relative;
}

.top .logo span {
    font-size: 1.5rem;
    position: relative;
}

.sidebar ul li {
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 50px;
    margin: 0.8rem -20px 0.8rem -20px;
    line-height: 50px;
}

.sidebar ul li a {
    color: aliceblue;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
    margin-right: 10px;
    font-size: 2rem;
}

.sidebar ul li i:hover {
    background-color: #A9A9A9;
}

.sidebar ul li i:hover~.tooltip {
    opacity: 1;
    display: block;
}

.tool-toggle {
    opacity: 1;
    display: block;
}

.sidebar.open-side ul li a {
    color: aliceblue;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
    margin-right: 50px;
    font-size: 2rem;
}

.sidebar.open-side ul li a:hover {
    background-color: #A9A9A9;
    padding-right: 200px;
}

.sidebar ul li a i {
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}

.sidebar .nav-item {
    opacity: 0;
    display: none;
}

.sidebar.open-side .nav-item {
    opacity: 1;
    display: block;
}

.sidebar ul li a .tooltip {
    /* overflow: visible; */
    position: absolute;
    left: 125px;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #181818;
    box-shadow: 0 0.5rem 0.8rem #A9A9A9;
    border-radius: 0.6rem;
    padding: .4rem 1.2rem;
    font-size: 1rem;
    line-height: 1.8rem;
    z-index: 20;
    opacity: 0;
    display: none;
}

/* .sidebar li:hover .tooltip {
    opacity: 1;
    display: block;
} */

.sidebar.open-side li:hover .tooltip {
    opacity: 0;
}





.main {
    margin-left: 110px;
    transition: all 0.5s ease;
}

.open-main {
    margin-left: 280px;
}

h1 {
    display: inline-block;
    font-size: 2rem;
    color: #D2691E;
}


#search-button {
    float: right;
    display: inline;
    margin-top: 10px;
}

#watchlist-button {
    display: inline-block;
    margin: 0 0 5px 20px;
}

#main-table-button {
    display: none;
    visibility: hidden;
    margin: 0 0 5px 20px;
}

#unsave-button {
    display: none;
    visibility: hidden;
}

#save-button {
    display: none;
    visibility: none;
}

#searched-token-table {
    display: none;
    visibility: hidden;
}

#close-button {
    display: none;
    visibility: hidden;
    color: brown;
}

#search-input {
    display: none;
    visibility: hidden;
}

#menu {
    display: none;
    visibility: hidden;
}

#ada-price {
    display: inline-block;
}


#token-table {
    border: 0;
}


.table-h {
    border: 1px solid;
    height: 40px;
    width: 100px;
}

.stats {
    border: 1px solid;
    height: 40px;
    width: 100px;
    text-align: center;
}


table {
    border-collapse: collapse;
}

#watchlist {
    display: none;
    visibility: hidden;
}

.trending {
    border-radius: 5px;
}

.trending i {
    display: inline-block;
    font-size: 1rem;
}

.trending span {
    display: inline-block;
}

.trending div {
    display: inline-block;
}

.market-cap {
    border-radius: 5px;
}

.market-cap i {
    font-size: 1rem;
}

.tab-clicked {
    background-color: #f18436;
    border-color: #f18436;
}