body {
    background-color: black;
    color: white;
}

.cred-div {
    position: absolute;
    top: 25%;
    left: 2%;
}

#sign-up {
    display: none;
    visibility: hidden;
}

h2 {
    color: burlywood;
    padding-bottom: 10px;
    font-size: 35px;
}

h3 {
    margin: 10px 0 5px 0;
    font-size: small;
    font-weight: 50;
    color: grey;
}

.si-input {
    height: 20px;
    width: 300px;
}

.ca-input {
    height: 20px;
    width: 300px;
}

#si-btn {
    margin-top: 20px;
    background-color: #7FFFD4;
    border: 0;
    border-radius: 10%;
}

#su-btn {
    margin-top: 20px;
    background-color: #7FFFD4;
    border: 0;
    border-radius: 10%;
}

.toggle {
    padding-left: 60px;
}