body {
    background-color: black;
    color: white;
}

.cred-div {
    position: absolute;
    top: 35%;
    left: 10%;
}

#sign-up {
    display: none;
    visibility: hidden;
}

h2 {
    color: burlywood;
}

h3 {
    margin: 0 0 5px 0;
}

.input {
    height: 20px;
    width: 300px;
}

h4 {
    margin: 20px 0 5px 0;
}

#si-btn {
    margin-top: 10px;
    background-color: #7FFFD4;
    border: 0;
    border-radius: 10%;
}